spring:
  application:
    name: device-service

  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: myuser
    password: mypass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

